{% for codename in item.codenames %}
Origin: {{ origin_name }}
Label: {{ origin_name }}
Suite: {{ codename }}
Codename: {{ codename }}
Architectures: {{ architectures }}
Components: custom
UDebComponents: custom
Description: {{ origin_name }} repository for {{ item.distro_name }} {{ codename }}
SignWith: yes

{% endfor %}
